
@font-face {
    font-family: airbnb-bold;
    src: url(../fonts/AirbnbCerealBlack.woff);
}
@font-face {
    font-family: airbnb-regular;
    src: url(../fonts/AirbnbCerealLight.woff);
}
body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url("../image/empty-floor-front-modern-building.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#head {
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    text-align:center;
}
#back {
    position: absolute;
    top: 2%;
    left: 2%;
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'airbnb-regular',sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: rgba(0,0,0,0);
    text-align: center;
    transition: all 0.15s;
}
#back:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

form {
    display: flex;
    justify-content: center;
    font-family: 'airbnb-regular',sans-serif;
}
h1 {
    font-family: 'airbnb-regular',sans-serif;
    color: #333;
    line-height: 90%;
    margin: .2em 0 .4em 0;
    letter-spacing: -2px;
}
#sub {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'airbnb-regular',sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align: center;
    position: relative;

    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #ff385c;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-top: 20px;
}
#sub:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
